<div class="container pad-top">
  <a ng-show="user && cancreate" ui-sref="newUser" class="btn-primary btn-lg nodecoration">Add New User</a>
  <table class="table entitytable">
      <tr>
          <td><h3>All Users</h3></td>
          <td></td>
      </tr>
      <tr>
      	<td><strong>Username</strong></td>
        <td><strong>Email</strong></td>
        <td><strong>Role</strong></td>
      </tr>
      <tr ng-repeat="user in users">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewUser({id:user.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteUser(user)">Delete</a>
          </td>
      </tr>
  </table>
  <div class="alert alert-danger margin-top-2" ng-show="message">{{message}}</div>
</div>
