<div class="container pad-top">
  <a ui-sref="newProduct" class="btn-primary btn-lg nodecoration">Add New Product</a>
  <table class="table entitytable">
      <tr>
          <td><h3>All Products</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="product in products">
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.unitPrice}}</td>
          <td>{{product.unitsInStock}}</td>
          <td>{{product.category.name}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewProduct({id:product.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteProduct(product)">Delete</a>
          </td>
      </tr>
  </table>
</div>
